.banner-subscribe {
  height: 30vh; /* Full viewport height */
  background-image: url("https://cpmfiles1.com/gracebibleofoxford.com/calendar.jpeg"); /* Path to your image */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Optional: change text color to be visible over the background */
  position: relative;
  border-bottom: 1px solid white;
}

.banner-subscribe-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.banner-subscribe-header {
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 26px;
}

.banner-subscribe-desc {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 18px;
  font-weight: 600;
}

.subscribe-list {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
