.banner-subscribe {
  height: 30vh; /* Full viewport height */
  background-image: url("https://cpmfiles1.com/gracebibleofoxford.com/calendar.jpeg"); /* Path to your image */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Optional: change text color to be visible over the background */
  position: relative;
  border-bottom: 1px solid white;
}

.banner-subscribe-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.banner-subscribe-header {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 48px;
  font-weight: bold;
}

.banner-subscribe-desc {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 18px;
  font-weight: 600;
}

.subscribe-list {
  padding: 40px;
  display: flex;
  gap: 2vw 4vw;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .banner-subscribe {
    height: 20vh;
  }

  .banner-subscribe-header {
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: 36px;
  }

  .banner-subscribe-desc {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
  }

  .subscribe-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    flex-wrap: wrap;
  }
}
