.post-container {
  color: #fff;
  min-height: 100vh;
  margin-top: 80px;
}

.App-header {
  margin-bottom: 20px;
  margin-left: 80px;
}

.news-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 80px;
}

@media (max-width: 480px) {
  .post-container {
    margin-top: 30px;
  }
  .news-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }

  .App-header {
    margin-bottom: 0px;
    margin-left: 20px;
  }
}
