.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  z-index: 2;
  background-color: black;
}

.left-element {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.center-element {
  text-align: center;
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
}

.center-element::first-letter {
  text-transform: capitalize;
}

.book-pdf {
  margin-top: 6%;
}
