/* CSS cho BookList */

/* Phong cách chung */
.row {
  color: #fff;
  margin-left: 60px;
  margin-top: 60px;
}

.row_posters {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw 3vw;
  margin-top: 20px;
  margin-bottom: 50px;
}

.book h4::first-letter {
  text-transform: capitalize;
}

.row_poster:hover {
  transform: scale(1.1);
}

/* Scroll 2 */
.sc2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.sc2::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.sc2::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}

/* Responsive styles for mobile */
@media (max-width: 480px) {
  .row {
    margin-left: 20px;
    margin-top: 40px;
  }

  .row_posters {
    gap: 10vw 3vw;
    margin-top: 10px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}
