.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 60px;
  z-index: 1;

  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.fixed {
  display: flex;
  justify-content: space-between;
}

.nav_black {
  background-color: #111;
  opacity: 0.8;
}

.nav_logo {
  /* position: fixed; */
  /* left: 20px; */
  width: 80px;
  /* object-fit: contain; */
}

/* .nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
} */

.right_nav {
  flex: 6;
  display: flex;
  justify-content: flex-start;
}

.nav-title {
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left: 2%;
}

.left_nav {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.search {
  margin-right: 3%;
}

.button {
  text-align: center;
  margin-right: 3%;
  padding: 0px 15px;
  border-radius: 20px;
  background-color: transparent;
}
.button_1 {
  border: 1px solid yellow;
}

.button_2 {
  border: 1px solid gray;
}

.button_3 {
  border: none;
  background-color: rgb(21, 176, 136);
}

.yellow {
  color: yellow;
  text-decoration: none;
}

.white {
  color: white;
  text-decoration: none;
}

.notification {
  margin-right: 3%;
}

.username {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-right: 3%;
  cursor: pointer;
  background: url("https://e7.pngegg.com/pngimages/84/165/png-clipart-united-states-avatar-organization-information-user-avatar-service-computer-wallpaper-thumbnail.png");
  background-position: 50% 50%;
  background-size: cover;
}

.logout {
  cursor: pointer;
}
