.user-information-wrapper {
  width: auto;
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 3;
  padding: 10px;
  border: 1px solid rgb(192, 180, 180);
  border-radius: 10px;
  background-color: #191416;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-information-item {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.user-information-item:hover {
  color: #139f7b;
}
